.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 40px;
  background: #fff;
  border-bottom: 3px solid #eee;
  font-family: 'Segoe UI', sans-serif;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}
/* this is landing pge used fr wrapping*/
.main-content{
  padding-top: 90px;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 250px;
  height: 70px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 36px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 20px;
}

.nav-links a:active,
.nav-links a:hover {
  color: #6c4bf4;
  font-weight: bold;
  border-bottom: 2px solid #6c4bf4;
}

.nav-buttons {
  display: flex;
  gap: 12px;
}

.btn-login {
  flex: 1;
  padding: 10px 20px;
  border: none;
  background: #6c4bf4;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.btn-signup{
  flex: 2;
  padding: 10px 20px;
  border: none;
  background: #6c4bf4;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}