.sidebar {
  width: 15%;
  height: 85vh;
  background: #fff;
  border-right: 3px solid #eee;
  padding: 20px 12px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  align-items: center;
  padding: 12px 14px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 5px;
  transition: background 0.2s;
}

.sidebar-menu a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: #444;
  display: flex;
  align-items: center;
  gap: 15px;
}

.sidebar-menu li:hover {
  background: #c8a8f570;
}

.sidebar-menu a:active,
.sidebar-menu a:hover {
  color: #6c5ce7;
  font-weight: 600;
}

.sidebar-menu .icon {
  font-size: 15px;
  width: 20px;
  text-align: center;
}
